python-telegram-bot[rate-limiter]==20.7
fastapi
uvicorn
...
# other packages you're using
firebase-admin == 6.4.0
flask == 2.3.3
python-dotenv == 1.0.1
requests == 2.31.0
pytz == 2024.1
gunicorn == 21.2.0
